@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,400,900,700,500,300,100);

table{
  width: 100%;
  border-collapse: collapse;
}
// td{
//     padding: 10px;
//     border-bottom: 1px solid #cccaca;
//     font-size: 0.90em;
//     text-align: left;
// }

.tabletitle th {
  border-bottom: 2px solid #ddd;
  text-align: right;
  font-size: 0.9em;
    text-align: left;
    padding: 5px 10px;
    background: rgb(235, 236, 241);
}


.tableitem td {
    padding: 10px;
        border-bottom: 1px solid #cccaca;
        font-size: 0.90em;
        text-align: left;
  }


.tabletitle th:nth-child(2) {
    text-align: left;
    
}

.item{width: 50%;}
.list-item td {
    padding: 10px;
    border-bottom: 1px solid #cccaca;
    font-size: 0.90em;
    text-align: left;
}
.list-item td:nth-child(2) {
    text-align: left;
}
.total-row th,
.total-row td {
    text-align: right;
    font-weight: 700;
    font-size: .75em;
    border: 0 none;
}
.table-main {
    
}
footer {
    border-top: 1px solid #eeeeee;;
    padding: 15px 20px;
}
.effect2
{
  position: relative;
}

.effect2:after
{
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}
@media screen and (max-width: 767px) {
    h1 {
        font-size: .9em;
    }
    #invoice {
        width: 100%;
    }
    #message {
        margin-bottom: 20px;
    }
    
    .logo {
        width: 140px;
    }
    .title {
        float: none;
        display: inline-block;
        vertical-align: middle;
        margin-left: 40px;
    }
    .title p {
        text-align: left;
    }
    .col-left,
    .col-right {
        width: 100%;
    }
    .table {
        margin-top: 20px;
    }
    #table {
        white-space: nowrap;
        overflow: auto;
    }
    td {
        white-space: normal;
    }
    .cta-group {
        text-align: center;
    }
    .cta-group.mobile-btn-group {
        display: block;
        margin-bottom: 20px;
    }
     /*==================== Table ====================*/
    .table-main {
        border: 0 none;
    }  
      .table-main thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
      }
      .table-main tr {
        border-bottom: 2px solid #eee;
        display: block;
        margin-bottom: 20px;
      }
      .table-main td {
        font-weight: 700;
        display: block;
        padding-left: 40%;
        max-width: none;
        position: relative;
        border: 1px solid #cccaca;
        text-align: left;
      }
      .table-main td:before {
        /*
        * aria-label has no advantage, it won't be read inside a table
        content: attr(aria-label);
        */
        content: attr(data-label);
        position: absolute;
        left: 10px;
        font-weight: normal;
        text-transform: uppercase;
      }
    .total-row th {
        display: none;
    }
    .total-row td {
        text-align: left;
    }
    footer {text-align: center;}

    
//////ticket
.passenger{
    &-ticket{
      width:26vw;
      padding:1em;
      border-top-left-radius:5px;
      border-top-right-radius:5px;
      background:#fff;
      position:relative;
      border-bottom:3px dashed #afadad;
      &:last-child{
        border-bottom:none;
        border-bottom-left-radius:5px;
        border-bottom-right-radius:5px;
        .circle{
          display:none;
        }
        .ticket-bottom{
          display:none;
        }
      }
      &__line{
    display:flex;
        margin:8px 0;
      }
      &__data{
        width:50%;
        &:last-child{
          margin-right:0;
        }
      }
      &__bottom{
      position:absolute;
      width:100%;
      bottom:6px;
      left:0;
        .circle{
          width:14px;
          height:14px;
          border-radius:50%;
            position:absolute;
          background:#6b6b6b;
          z-index:2;
          &-left{
            left:-7px;
          }
          &-right{
            right:-7px;
          }
        }
      }
    }
  }
}